<nav class="navbar navbar-default navbar-fixed-bottom">
    <ul class="nav navbar-nav navbar-left">
        <li class="nav-item">
            <%= link_to "About", '#' %>
        </li>
        <li class="nav-item">
            <%= link_to "Contact", '#' %>
        </li>
        <li class="nav-item">
           <%= link_to "Terms of Service", '#' %>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            &copy; gobblebreak <%= Date.today.year %></a>
        </li>
    </ul>
</nav>
