.square {

    // disable any native browser highlighting
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background-color: white;

    text-align: center;
    border-radius: 20%;
    border: 1mm solid black;
    font-family: verdana,arial,sans-serif;
    font-weight: bold;
    font-size: 23px;

    display: table-cell;
    height: 56px;
    width: 56px;
}
.square div {
    display: table;
    width: 100%;
    height: 100%;
}
.square span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.inputs {
    display: inline-block;
    margin-top: rem-calc(90);

    .spinner input {
        text-align: center;
    }
    .input-group-btn-vertical {
        position: relative;
        white-space: nowrap;
        width: 1%;
        vertical-align: middle;
        display: table-cell;
    }
    .input-group-btn-vertical > .btn {
        display: block;
        float: none;
        width: 100%;
        max-width: 100%;
        padding: 8px;
        margin-left: -1px;
        position: relative;
        border-radius: 0;
    }
}

.board {
    border: 1mm solid transparent;
    margin-top: rem-calc(70);
    display: inline-block;
}

.clearfix {
    clear: both;
}

.row {
    white-space: nowrap;
    margin: 0;
}

.ui-resizable-se {
    background-color: white;
}

#resizable {
    padding: 0.5rem;
    display: inline-block;
}