
<div class="container" id="topContainer">
    <div class="col-sm-2">
        <div class="inputs">
            <div class="input-group" id="sizexy" data-toggle="tooltip" data-placement="right" title="Use all four arrow keys to change the board">
                <span class="input-group-addon" id="size">Size</span>
                <input type="text" class="form-control" id="sizex" tabindex=1>
                <span class="input-group-addon">by</span>
                <input type="text" class="form-control" id="sizey" tabindex=2>
            </div>

            <div class="input-group min-max-words">
                <div class="input-group">
                    <span class="input-group-addon">At least</span>
                    <input type="text" class="form-control" id="minwords" tabindex=3>
                    <span class="input-group-addon">words</span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">At most</span>
                    <input type="text" class="form-control" id="maxwords" tabindex=4>
                    <span class="input-group-addon">words</span>
                </div>
            </div>

            <div class="input-group min-max-words-slider">
                <input id="minMaxWordsSlider" data-slider-id='minMaxWordsSlider' type="text" data-slider-min="0" data-slider-max="9999" data-slider-step="1" data-slider-value="0" />
            </div>

            <div class="input-group">
                <span class="input-group-addon" id="size">Minimum word length</span>
                <input type="text" class="form-control" id="minwordlength" tabindex=5>
            </div>

            <div class="input-group">
                <span class="input-group-addon" id="size">Timer</span>
                <input type="text" class="form-control" id="timer" value="3:00" tabindex=6>
            </div>

            <div class="input-group c-inputs-stacked">
                <label class="c-input c-checkbox">
                    <input id="showProgressBar" type="checkbox" checked>
                    <span class="c-indicator"></span>
                    Show progress bar
                </label>
                <label class="c-input c-checkbox">
                    <input id="showIncorrectGuesses" type="checkbox" checked>
                    <span class="c-indicator"></span>
                    Show incorrect guesses
                </label>
            </div>

            <div class="input-group">
                <button type="button" class="btn btn-secondary btn-lg" id="shuffleButton" data-toggle="tooltip" data-placement="right" title="Hold space bar for repeated shuffling">Shuffle</button>
            </div>

            <div class="input-group">
                <button type="button" class="btn btn-primary btn-lg" id="startButton">Pause</button>
            </div>
        </div>
    </div>

    <div class="col-sm-8">
        <div class="ui-widget-content ui-resizable" id="resizable">
            <div class="draggable-arrow"><i class="fa fa-arrows"></i></div>

            <div id="board" class="board"></div>

            <div class="input-group word-completion-slider">
                <input id="wordCompletionSlider" data-slider-id='wordCompletionSlider' type='text' />
            </div>
        </div>
    </div>

    <div class="col-sm-2">
        <li class="list-group-item hidden" id="newGuess">
            <span class="label label-default label-pill pull-right"></span>
            <span></span>
        </li>

        <ul class="list-group" id="guesses">
        </ul>
    </div>
</div>

<script>
    var game = new Game({ htmlAnchor: window.location.hash });

    //
    // helper functions
    //

    var drawWordCompletionSlider = function() {
        var timer = setInterval(function() {
            if (wordCompletionSlider && game.answers[game.minWordLength]) {
                var numAnswers = game.answers[game.minWordLength].length;
                wordCompletionSlider
                    .slider('setValue', [game.correctGuesses.size, numAnswers])
                    .slider('setAttribute', 'max', numAnswers)
                    .slider('refresh');
                clearInterval(timer);
            }
        }, 250);

        $('#wordCompletionSlider').css({ 'height': $('#board').height() - 1.5*parseInt($("#board").css("margin-bottom")) });
    };
    var drawBoard = function() {
        $(".square").css({
            'font-size': (game.size * 0.5) + 'px',
            'width': game.size + 'px',
            'height': game.size + 'px',
            'border-width': game.size < 45 ? '1px' : '1mm'
        });
        $(".outer-square").css({
            'font-size': (game.size * 0.5) + 'px',
            'width': game.size + 'px',
            'height': game.size + 'px',
            'border-width': game.size < 45 ? '1px' : '1mm',
            'padding': (game.size * 0.2) + 'px'
        });

        drawWordCompletionSlider();

        // for some reason, these two commands are necessary;  otherwise the resize triangle can end up misaligned.
        $('#resizable').css('height', '');
        $('#resizable').css('width', '');

        window.location.hash = game.toHtmlAnchor();
    };
    var centerBoard = function() {
        $('#resizable').position({
            my: 'bottom',
            at: 'center',
            of: '#topContainer'
        }).css({'top': '0'});
    };
    var refreshBoard = function() {
        $('#board').html(game.toHtml());
        drawBoard();
        swipeHandler();
        window.location.hash = game.toHtmlAnchor();
    };
    var numShuffleAttempts = 0;
    var onShuffleBoardCallback = function() {
        numShuffleAttempts++;

        if (game.maxWords > 0 || game.minWords > 0) {
            if (numShuffleAttempts < 25) {
                var numAnswers = game.answers[game.minWordLength] ? game.answers[game.minWordLength].length : 0;

                if (numAnswers < game.minWords) {
                    var delta = game.minWords - numAnswers;
                    $('#stdout').text('Shuffle #' + numShuffleAttempts + ' failed, ' + delta + ' too few word' + (delta !== 1 ? 's' : ''));
                    shuffleBoard();
                } else if (game.maxWords > 0 && numAnswers > game.maxWords) {
                    var delta = numAnswers - game.maxWords;
                    $('#stdout').text('Shuffle #' + numShuffleAttempts + ' failed, ' + delta + ' too many word' + (delta !== 1 ? 's' : ''));
                    shuffleBoard();
                } else {
                    $('#stdout').text('');
                }
            } else {
                $('#stdout').text('Gave up after ' + numShuffleAttempts + ' shuffle attempts.  Try again, or relax your shuffle criteria.');
                numShuffleAttempts = 0;
            }
        } else {
            $('#stdout').text('');
            numShuffleAttempts = 0;
        }

        refreshBoard();
    };
    var minWordLengthCallback = function() {
        var minlength = $('#minwordlength').val();
        game.minWordLength = Number(minlength);
        refreshBoard();
        window.location.hash = game.toHtmlAnchor();
    };

    var shuffleBoard = function() {
        var x = $('#sizex').val();
        var y = $('#sizey').val();
        if (x !== game.x || y !== game.y) {
            game.resize({ x: x, y: y, onShuffleBoardCallback: onShuffleBoardCallback });
            refreshBoard();
            drawWordCompletionSlider();
        }
        $('#guesses').empty();
    };
    var swipeHandler = function() {
        $(function() {
            var isMouseDown = false;
            var prevId;

            $('.outer-square')
                .mousedown(function() {
                    isMouseDown = true;
                    $(this).addClass('highlighted-starting-letter visited');
                    var id = $(this).find('span').data('squareId');
                    word.push(id);
                    prevId = id;

                    $('#stdout').text(game.letters[id] === '.' ? 'qu' : game.letters[id]);
                    return false;  // prevent text selection
                });

            $('.square').mouseover(function(e) {
                    var id = $(this).find('span').data('squareId');
                    if (isMouseDown) {
                        if ($(this).parent().hasClass('visited')) {
                            if (id === word[word.length - 2]) {  // undo move
                                var mostRecentMove = word.pop();
                                var mostRecentMoveId = '#sq' + mostRecentMove;
                                $(mostRecentMoveId).parent().parent().parent().removeClass('visited highlighted');
                                $('#stdout').text( $('#stdout').text().slice(0, -1) );
                                prevId = word[word.length - 1];
                            }
                        } else if (game.board[prevId].indexOf(id) !== -1) {
                                $(this).parent().addClass('highlighted visited');
                                word.push(id);
                                prevId = id;
                                $('#stdout').append( game.letters[id] );
                        }
                    }
                })
                .bind("selectstart", function() {
                    return false;
                });

            $(document)
                .mouseup(function() {
                    isMouseDown = false;

                    if (word.length >= game.minWordLength) {
                        var results = game.submitWord(word);
                        var formedWord = results[0];
                        var resultCode = results[1];

                        if (formedWord && resultCode !== ':duplicate' && resultCode !== ':impossible') {
                            var newGuess = $('#newGuess').clone(false);
                            newGuess.removeAttr('id');
                            newGuess.removeClass('hidden');
                            if (resultCode === ':correct') {
                                newGuess.find('span:first-child').text(game.scoreGuess(formedWord));
                            } else {
                                newGuess.addClass('incorrectGuess');
                            }
                            newGuess.find('span:last-child').text(formedWord);

                            newGuess.prependTo('#guesses');
                        }

                        var numAnswers = game.answers[game.minWordLength] ? game.answers[game.minWordLength].length : 0;
                        wordCompletionSlider.slider('setValue', [game.correctGuesses.size, numAnswers]);
                    } else if (word.length > 1) {
                        $('#minwordlength').addClass('flash');
                        $('#minwordlength').prev().addClass('flash');
                        setTimeout(function(){
                            $('#minwordlength').removeClass('flash');
                            $('#minwordlength').prev().removeClass('flash');
                        }, 750);
                    }

                    $('.outer-square').removeClass('highlighted highlighted-starting-letter visited');
                    word = [];
                });
        });
    };

    //
    // init Game object and then render it
    //

    var word = [];
    $('#board').html(game.toHtml());
    swipeHandler();
    drawBoard();
    centerBoard();

    $('#sizex').val(game.x);
    $('#sizey').val(game.y);
    $('#minwords').val(game.minWords);
    $('#maxwords').val(game.maxWords === 0 ? 'any' : game.maxWords);
    $('#minwordlength').val(game.minWordLength);

    //
    // snazzy keyboard controls
    //

    var incr_x = function() {
        $('#sizex').val(parseInt($('#sizex').val(), 10) + 1);
        shuffleBoard();
    };
    var decr_x = function() {
        $('#sizex').val(Math.max(1, parseInt($('#sizex').val(), 10) - 1));
        shuffleBoard();
    }
    var incr_y = function() {
        $('#sizey').val(parseInt($('#sizey').val(), 10) + 1);
        shuffleBoard();
    };
    var decr_y = function() {
        $('#sizey').val(Math.max(1, parseInt($('#sizey').val(), 10) - 1));
        shuffleBoard();
    }

    // global key binding
    $(window).bind('keydown', function(e) {
        switch (e.keyCode) {
            case 13:  // enter key
            case 32:  // space bar
                e.preventDefault();
                shuffleBoard();
                e.stopPropagation();
                break;
            case 37:
                e.preventDefault();
                decr_x();
                centerBoard();
                e.stopPropagation();
                break;
            case 38:
                e.preventDefault();
                decr_y();
                centerBoard();
                e.stopPropagation();
                break;
            case 39:
                e.preventDefault();
                incr_x();
                centerBoard();
                e.stopPropagation();
                break;
            case 40:
                e.preventDefault();
                incr_y();
                centerBoard();
                e.stopPropagation();
                break;
            default:
                break;
        }
    });

    // board size input fields -- up/down arrows only
    $('#sizex').bind('keydown', function(e) {
            switch (e.keyCode) {
                case 13:  // enter key
                case 32:  // space bar
                case 37:
                case 39:
                    e.preventDefault();
                    e.stopPropagation();
                    break;
                case 38:
                    e.preventDefault();
                    incr_x();
                    e.stopPropagation();
                    break;
                case 40:
                    e.preventDefault();
                    decr_x();
                    e.stopPropagation();
                    break;
                default:
                    break;
            }
        });
    $('#sizex').change(function() {
        shuffleBoard();
        centerBoard();
    });
    $('#sizey').bind('keydown', function(e) {
            switch (e.keyCode) {
                case 13:  // enter key
                case 32:  // space bar
                case 37:
                case 39:
                    e.preventDefault();
                    e.stopPropagation();
                    break;
                case 38:
                    e.preventDefault();
                    incr_y();
                    e.stopPropagation();
                    break;
                case 40:
                    e.preventDefault();
                    decr_y();
                    e.stopPropagation();
                    break;
                default:
                    break;
            }
        });
    $('#sizey').change(function() {
        shuffleBoard();
        centerBoard();
    });

    // min/max words slider and input fields -- up/down arrows only
    var isSliding = false;
    var minMaxWordsSlider_maxValue = 1000;
    var minMaxWordsSlider = $('#minMaxWordsSlider')
        .slider({
            min: 0,
            max: minMaxWordsSlider_maxValue,
            range: true,
            tooltip: 'hide',
            value: [game.minWords, game.maxWords === 0 ? minMaxWordsSlider_maxValue : game.maxWords]
        }).on('slide', function(e) {
            $('#minwords').val(e.value[0]);
            $('#maxwords').val(e.value[1] === minMaxWordsSlider_maxValue ? 'any' : e.value[1]);
        }).on('slideStart', function() {
            isSliding = true;
        }).on('slideStop', function() {
            isSliding = false;
            game.minWords = Number($('#minwords').val());
            var max = $('#maxwords').val();
            game.maxWords = max === 'any' ? 0 : Number(max);
            window.location.hash = game.toHtmlAnchor();
        });

    $('#minwords').change(function() {
        if (!isSliding) {
            var min = Number($(this).val());
            var max = Number($('#maxwords').val());
            if (min > max) {
                var temp = min;
                min = max;
                max = temp;
                $('#minwords').val(min);
                $('#maxwords').val(max);
            }
            minMaxWordsSlider.slider('setValue', [min, max]);
            game.minWords = Number($('#minwords').val());
            var max = $('#maxwords').val();
            game.maxWords = max === 'any' ? 0 : Number(max);
            window.location.hash = game.toHtmlAnchor();
        }
    });
    $('#maxwords').change(function() {
        if (!isSliding) {
            var min = Number($('#minwords').val());
            var max = Number($(this).val());
            if (max === minMaxWordsSlider_maxValue) {
                $('#maxwords').val('any');
            } else if (min > max) {
                var temp = min;
                min = max;
                max = temp;
                $('#minwords').val(min);
                $('#maxwords').val(max);
            }
            minMaxWordsSlider.slider('setValue', [min, max]);
            game.minWords = Number($('#minwords').val());
            var max = $('#maxwords').val();
            game.maxWords = max === 'any' ? 0 : Number(max);
            window.location.hash = game.toHtmlAnchor();
        }
    });
    var decr_min = function() {
        var min = Math.max(0, parseInt($('#minwords').val(), 10) - 1);
        var max = Number($('#maxwords').val());
        $('#minwords').val(min);
        minMaxWordsSlider.slider('setValue', [min, max]);
    }
    var incr_min = function() {
        var min = Math.max(0, parseInt($('#minwords').val(), 10) + 1);
        var max = Number($('#maxwords').val());
        $('#minwords').val(min);
        minMaxWordsSlider.slider('setValue', [min, max]);
    }
    var decr_max = function() {
        var min = Number($('#minwords').val());
        var max = Math.max(0, parseInt($('#maxwords').val(), 10) - 1);
        $('#maxwords').val(max);
        minMaxWordsSlider.slider('setValue', [min, max]);
    }
    var incr_max = function() {
        var min = Number($('#minwords').val());
        var max = Math.max(0, parseInt($('#maxwords').val(), 10) + 1);
        $('#maxwords').val(max);
        minMaxWordsSlider.slider('setValue', [min, max]);
    }
    $('#minwords').bind('keydown', function(e) {
        switch (e.keyCode) {
            case 13:  // enter key
            case 32:  // space bar
            case 37:
            case 39:
                e.preventDefault();
                e.stopPropagation();
                break;
            case 38:
                e.preventDefault();
                incr_min();
                e.stopPropagation();
                break;
            case 40:
                e.preventDefault();
                decr_min();
                e.stopPropagation();
                break;
            default:
                break;
        }
    });
    $('#maxwords').bind('keydown', function(e) {
        switch (e.keyCode) {
            case 13:  // enter key
            case 32:  // space bar
            case 37:
            case 39:
                e.preventDefault();
                e.stopPropagation();
                break;
            case 38:
                e.preventDefault();
                incr_max();
                e.stopPropagation();
                break;
            case 40:
                e.preventDefault();
                decr_max();
                e.stopPropagation();
                break;
            default:
                break;
        }
    });

    //minwordlength input
    var decr_minlength = function() {
        var minlength = Math.max(2, parseInt($('#minwordlength').val(), 10) - 1);
        $('#minwordlength').val(minlength);
        minWordLengthCallback();
    }
    var incr_minlength = function() {
        var minlength = Math.max(2, parseInt($('#minwordlength').val(), 10) + 1);
        $('#minwordlength').val(minlength);
        minWordLengthCallback();
    }
    $('#minwordlength').bind('keydown', function(e) {
        switch (e.keyCode) {
            case 13:  // enter key
            case 32:  // space bar
            case 37:
            case 39:
                e.preventDefault();
                e.stopPropagation();
                break;
            case 38:
                e.preventDefault();
                incr_minlength();
                e.stopPropagation();
                break;
            case 40:
                e.preventDefault();
                decr_minlength();
                e.stopPropagation();
                break;
            default:
                break;
        }
    });
    $('#minwordlength').change(minWordLengthCallback);

    // game progression bar
    var wordCompletionSlider = $('#wordCompletionSlider').slider({
            min: 0,
            max: -1,
            value: 0,
            range: true,
            tooltip: 'always',
            reversed: true,
            orientation: 'vertical',
            step: 1,
            enabled : false,
            tooltip_split: true,
            formatter: function(value) {
                var result = value;
                if (game.answers[game.minWordLength]) {
                    result += ' word';
                    if (value !== 1) {
                        result += 's';
                    }
                    if (value === game.answers[game.minWordLength].length) {
                        result += ' total';
                    } else {
                        result += ' found, ';
                        var score = game.scoreGuesses();
                        result += score + ' point';
                        if (score !== 1) {
                            result += 's';
                        }
                    }
                }
                return result;
            }
        });
    drawWordCompletionSlider();

    $('#showProgressBar').change(function() {
        if (this.checked) {
            $('#wordCompletionSlider').css({ 'z-index': '' });
        } else {
            $('#wordCompletionSlider').css({ 'z-index': '-10' });
        }
    });

    $('#showIncorrectGuesses').change(function() {
        if (this.checked) {
            $('.incorrectGuess').fadeIn();
        } else {
            $('.incorrectGuess').fadeOut();
        }
    });

    // Start button
    $('#shuffleButton').click(function() {
        shuffleBoard();
        centerBoard();
        $('#shuffleButton').tooltip('hide');
    });
    $('#shuffleButton').tooltip();

    $('#sizexy').tooltip();

    //
    // initialize board resizing
    //

    $('#resizable').resizable({
        start: function(event, ui) {
            $('#board').css({ 'border-color': 'blue' });
            $('.resizable-arrow i').css({ 'color': 'blue' });
        },
        resize: function(event, ui) {
            $('#board').css({ 'border-color': 'blue' });
            $('.resizable-arrow i').css({ 'color': 'blue' });

            game.size = Math.round(Math.min(ui.size.height, ui.size.width) / (1.7 * Math.max(game.x, game.y)));
            drawBoard();
        },
        stop: function(event, ui) {
            $('#board').css({ 'border-color': 'transparent' });
            $('.resizable-arrow i').css({ 'color': 'white' });
            window.location.hash = game.toHtmlAnchor();
        },
        aspectRatio: true,
        handles: "nw, se"
    });
    $('#resizable .ui-icon-gripsmall-diagonal-se')
        .addClass('resizable-arrow')  // slight stylistic change, adding a better "click-drag" icon
        .removeClass('ui-icon-gripsmall-diagonal-se ui-resizable-handle ui-resizable-se ui-icon')
        .append('<i class="fa fa-arrows-alt"></i>');
    $('#resizable .fa-arrows-alt')
        .hover(
            function() {
                $('#board').css({ 'border-color': 'blue' });
                $(this).css({ 'color': 'blue' });
            },
            function() {
                $('#board').css({ 'border-color': 'transparent' });
                $(this).css({ 'color': 'white' });
            }
        )
        .mousedown(function() {
            $('#board').css({ 'border-color': 'blue' });
            $(this).css({ 'color': 'blue' });
        })
        .mouseup(function() {
            $('#board').css({ 'border-color': 'transparent' });
            $(this).css({ 'color': 'white' });
        });

    //
    // initialize board dragging
    //

    $('#resizable').draggable({
        handle: 'i.fa-arrows',
        zIndex: 100,
        // containment: '#topContainer',
        start: function() {
            $('#board').css({ 'border-color': 'green' });
            $('#board i').css({ 'color': 'green' });
        },
        stop: function() {
            $('#board').css({ 'border-color': 'transparent' });
            $('#board i').css({ 'color': 'white' });
        }
    });
    $('#resizable .fa-arrows')
        .hover(
            function() {
                $('#board').css({ 'border-color': 'green' });
                $(this).css({ 'color': 'green' });
            },
            function() {
                $('#board').css({ 'border-color': 'transparent' });
                $(this).css({ 'color': 'white' });
            }
        );

    //
    // marquee welcoming text
    //

    var e;
    $(window).load(function() {
        var t, n, i, p, r, o, s;
        r = $("#subheading");
        if (r.length > 0) {
            e = $('<span class="jqconsole-cursor user-color user_0"></span>');
            t = $('<span class="jqconsole-cursor user-color user_1"></span>');
            o = function(e, t, n) {
                var i;
                if (0 !== t.length) {
                    e.text(e.text() + t.charAt(0));
                    i = 40 + 40 * Math.random();  // x == min delay in ms;  y == random number weighting offset
                    return setTimeout(function() {
                        return o(e, t.slice(1), n);
                    }, i);
                }
                n && n();
            };
            p = function() {
                var currSpan = e.parent().find('span[class="text"]:not(:last)').last();

                if (currSpan.length > 0) {
                    if (currSpan.text().length === 0) {
                        currSpan.remove();
                    } else {
                        currSpan.text(currSpan.text().slice(0, -1));
                    }

                    i = 15 + 5 * Math.random();  // x == min delay in ms;  y == random number weighting offset
                    return setTimeout(function() {
                        return p();
                    }, i);
                }
            };
            s = function (e, t, n) {
                if (0 !== t.length) {
                    return o(e, t[0], function() {
                        var i = $('<span class="text" id="stdout" />').insertAfter(e);
                        return s(i, t.slice(1), n);
                    });
                }
                n && n();
                return void 0;
            };

            n = $('<span class="text" />');
            i = ["Fancy a ", "game,  you turkey?"];

            r.append(n).append(e);
            $(".jqconsole-cursor").fadeIn();

            return setTimeout(function() {
                return s(n, i, function () {
                    return setTimeout(function () {
                        var n = r.children().first();

                        t.insertAfter(n);
                        return setTimeout(function () {
                            return o(n, " most lexical ", function () {
                                return setTimeout(function () {
                                    t.detach();
                                    return setTimeout(function () {
                                        $(".jqconsole-cursor").fadeIn();
                                        return setTimeout(function () {
                                            p();
                                        }, 4000);
                                    }, 300);
                                }, 100);
                            });
                        }, 100);
                    }, 400);
                });
            }, 1100);
        }

        $(window).focus();
    });
</script>