<style>
    #resizable {
        padding: 0.5rem;
        width:65%;  /* TODO(aaron,4/12) programmatically set this initial width from user's preferences;  cookie? */
        margin-left:auto;
        margin-right:auto;
        margin-bottom: 200px;
    }
</style>

<div class="container" id="topContainer">
    <div class="row">
        <div class="col-sm-9">
            <div class="ui-content-widget ui-resizable" id="resizable">
                <div id="board"></div> <!-- class="animate tossing"> -->
            </div>
        </div>

        <div class="col-sm-3" id="rightPane">
            <div id="moves" />
            <textarea id="debug1"></textarea>
            <textarea id="debug3"></textarea>
        </div>
    </div>
</div>

<script>
    // board = new ChessBoard('board', cfg);

    $('#resizable').resizable({
        resize: function(event, ui) {
            $('#board > div > div').css({ 'border-color': 'blue' });

            $("#board").width( ui.size.width );
            $("#board").height( ui.size.width );  // not a typo;  we set board's height equal to UI's width, to enforce a square board
            board.resize();

            // for some reason, these two commands are necessary;  otherwise the resize triangle can end up misaligned.
            $('#resizable').width( $('#board').width() );
            $('#resizable').height( $('#board').width() );
        },
        stop: function(event, ui) {
            $('#board > div > div').css({ 'border-color': 'black' });
        },
        aspectRatio: true,
        grid: [8,8],
        handles: "nw, se"
    });

    $('#resizable .ui-icon-gripsmall-diagonal-se')
        .addClass('ui-icon-grip-diagonal-se')  // slight stylistic change, adding a better "click-drag" icon
        .removeClass('ui-icon-gripsmall-diagonal-se')
        .hover(
            function() {
                $('#board > div > div').css({ 'border-color': 'blue' });
            },
            function() {
                $('#board > div > div').css({ 'border-color': 'black' });
            }
        )
        .mousedown(function() {
            $('#board > div > div').css({ 'border-color': 'blue' });
        })
        .mouseup(function() {
            $('#board > div > div').css({ 'border-color': 'black' });
        });
</script>

<script>
    $(window).load(function () {
        var e, t, n, i, r, o, s;
        r = $("#subheading");
        if (r.length > 0) {
            e = $('<span class="jqconsole-cursor user-color user_0"></span>');
            t = $('<span class="jqconsole-cursor user-color user_1"></span>');
            o = function (e, t, n) {
                var i;
                if (0 !== t.length) {
                    e.text(e.text() + t.charAt(0));
                    i = 40 + 40 * Math.random();  // x == min delay in ms;  y == random number weighting offset
                    return setTimeout(function () {
                                return o(e, t.slice(1), n);
                            }
                            , i);
                }
                n && n();
            };
            s = function (e, t, n) {
                if (0 !== t.length)
                    return o(e, t[0], function () {
                                var i;
                                i = $('<span class="text"/>').insertAfter(e);
                                return s(i, t.slice(1), n);
                            }
                    );
                n && n();
                return void 0;
            };
            n = $('<span class="text"/>');
            i = ["The fullest feature website for", " Boggle."];
            r.empty().append(n).append(e);
            return s(n, i, function () {
                        return setTimeout(function () {
                                    var n;
                                    n = r.children().first();
                                    e.fadeOut();
                                    t.insertAfter(n);
                                    return setTimeout(function () {
                                                return o(n, " Not", function () {
                                                            // debugger;
                                                            return setTimeout(function () {
                                                                        t.detach();
                                                                        return setTimeout(function () {
                                                                                    return $(".jqconsole-cursor").fadeOut();
                                                                                }
                                                                                , 300);
                                                                    }
                                                                    , 100);
                                                        }
                                                )
                                            }
                                            , 100);
                                }
                                , 400);
                    }
            );
        }
    });
</script>